.form-body {
    > table {
        margin: 5px 0;
        width: 100%;
    }
    > table td {
        padding: 2px 5px;
        white-space: nowrap;
        &:first-child {
            white-space: nowrap;
        }
        &:last-child {
            width: 100%;
        }
    }
    > div {
        display: flex;
        justify-content: space-between;
    }
}
