.input-wrapper {
    display: flex;
    flex-direction: row;
    input {
        flex-grow: 1;

        &.error {
            border-color: red;
        }
    }
    select {
        flex-shrink: 0;
    }
}
